:root {
  --link-color: rgb(0, 0, 238);
  --visited-color: rgb(85, 26, 139);
  --background-color: #fff;
  --foreground-color: #222;

  --highlight-6: #0086b3;
  --highlight-3: #795da3;
  --highlight-5: #a71d5d;
  --highlight-7: #183691;
}
@media screen and (prefers-contrast: more) {
  :root {
    --link-color: #0000da;
    --visited-color: #750075;
    --background-color: #fff;
    --foreground-color: #000;
  }
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --link-color: #4a96f9;
    --visited-color: #ff68fb;
    --background-color: #222;
    --foreground-color: #fff;
    --highlight-6: #81d8d1;
    --highlight-3: #d2b4ff;
    --highlight-5: #ff5ea9;
    --highlight-7: #00b8ff;
  }
}
@media screen and (prefers-contrast: more) and (prefers-color-scheme: dark) {
  :root {
    --link-color: #4a96f9;
    --visited-color: #ff68fb;
    --background-color: #000;
    --foreground-color: #fff;
  }
}
a {
  color: var(--link-color);
}
a:visited {
  color: var(--visited-color);
}
body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

body {
  font-family: sans-serif;
}
main {
  max-width: 60ch;
  text-align: justify;
  hyphens: auto;
  white-space: normal;
  overflow: clip;
}
details {
  margin-top: -30px;
}
summary {
  cursor: pointer;
  color: var(--link-color);
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  width: fit-content;
  margin-right: 0;
  margin-left: auto;
}
details[open] summary {
  color: var(--visited-color);
}
summary + * {
  margin-top: 0;
}

code {
  .highlight-6 {
    color: var(--highlight-6);
  }
  .highlight-3 {
    color: var(--highlight-3)
  }
  .highlight-5 {
    color: var(--highlight-5);
  }
  .highlight-7 {
    color: var(--highlight-7);
  }
  .highlight-8 {
    font-style: italic;
  }
}
