:root {
  --link-color: rgb(0, 0, 238);
  --visited-color: rgb(85, 26, 139);
  --background-color: #fff;
  --foreground-color: #222;
}
@media screen and (prefers-contrast: more) {
  :root {
    --link-color: #0000da;
    --visited-color: #750075;
    --background-color: #fff;
    --foreground-color: #000;
  }
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --link-color: #4a96f9;
    --visited-color: #ff68fb;
    --background-color: #222;
    --foreground-color: #fff;
  }
}
@media screen and (prefers-contrast: more) and (prefers-color-scheme: dark) {
  :root {
    --link-color: #4a96f9;
    --visited-color: #ff68fb;
    --background-color: #000;
    --foreground-color: #fff;
  }
}
a {
  color: var(--link-color);
}
a:visited {
  color: var(--visited-color);
}
body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

body {
  font-family: sans-serif;
}
/*
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
  justify-content: space-around;
}
header {
  flex: 1 1 min-content;
}
main {
flex: 1 1 max-content; */
main {
  max-width: 60ch;
  text-align: justify;
  hyphens: auto;
  white-space: normal;
}
summary {
  cursor: pointer;
  border: var(--foreground-color) 1px solid;
  padding-left: 5px;
}
summary:hover {
  background: var(--background-darkened);
}
code {
  .comment {
    font-style: italic;
  }
  .variable {
    color: #0086b3;
  }
  .keyword {
    color: #a71d5d;
  }
}
figure {
  margin: 0;
}
table.commits {
  border-collapse: collapse;
  table-layout: fixed;
}
table.commits caption {
  text-align: left;
}
.commits td { padding: 0; text-align: right }
.commits td:nth-child(1) { text-align: left }
.commits td:nth-child(2) { width: 50px }
.commits td:nth-child(3) { width: 24px }
.commits td:nth-child(4) { width: 120px }
footer {
  display: flex;
  align-content: start;
  justify-content: space-between;

}
.author {
  flex: 1
}
a img {
  vertical-align: middle;
}
