root {
  --link-color: rgb(0, 0, 238);
  --visited-color: rgb(85, 26, 139);
  --background-color: #fff;
  --foreground-color: #222;
}
@media screen and (prefers-contrast: more) {
  :root {
    --link-color: #0000da;
    --visited-color: #750075;
    --background-color: #fff;
    --foreground-color: #000;
  }
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --link-color: #4a96f9;
    --visited-color: #ff68fb;
    --background-color: #222;
    --foreground-color: #fff;
  }
}
@media screen and (prefers-contrast: more) and (prefers-color-scheme: dark) {
  :root {
    --link-color: #4a96f9;
    --visited-color: #ff68fb;
    --background-color: #000;
    --foreground-color: #fff;
  }
}
a {
  color: var(--link-color);
}
a:visited {
  color: var(--visited-color);
}
body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

body {
  font-family: sans-serif;
}
main {
  max-width: 60ch;
  text-align: justify;
  hyphens: auto;
  white-space: normal;
  overflow: clip;
}
details {
  margin-top: -30px;
}
summary {
  cursor: pointer;
  color: var(--link-color);
  text-decoration: underline dashed 1px;
  width: fit-content;
  margin-right: 0;
  margin-left: auto;
}
details[open] summary {
  color: var(--visited-color);
}
summary::marker {
  content: "";
}
summary:before {
  content: "Expand ";
}
details[open] summary:before {
  content: "Collapse ";
}
summary + * {
  margin-top: 0;
}

code {
  .highlight-6 {
    color: #0086b3;
  }
  .highlight-3 {
    color: #795da3;
  }
  .highlight-5 {
    color: #a71d5d;
  }
  .highlight-7 {
    color: #183691;
  }
  .highlight-8 {
    color: #969896;
    font-style: italic;
  }
}
