:root {
  --link-color: rgb(0, 0, 238);
  --visited-color: rgb(85, 26, 139);
  --background-color: #fff;
  --foreground-color: #222;

  --background-1: #f3f3f3;

  --warm-1: #A16E4A;
  --warm-2: #FF9F50;
  --warm-3: #bba424;
  --warm-4: #6CC33C;
}
@media screen and (prefers-contrast: more) {
  :root {
    --link-color: #0000da;
    --visited-color: #750075;
    --background-color: #fff;
    --foreground-color: #000;

    --warm-1: #946441;
    --warm-2: #b7440f;
    --warm-3: #7a761a;
    --warm-4: #308500;
  }
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --link-color: #4a96f9;
    --visited-color: #ff68fb;
    --background-color: #222;
    --foreground-color: #fff;


    --warm-1: #b58561;
    --background-1: #3a3a3a;
  }
}
@media screen and (prefers-contrast: more) and (prefers-color-scheme: dark) {
  :root {
    --link-color: #4a96f9;
    --visited-color: #ff68fb;
    --background-color: #000;
    --foreground-color: #fff;

    --background-1: #2b2b2b;
    --warm-3: #b9b326;
    --warm-4: #41b102;
  }
}
a {
  color: var(--link-color);
}
a:visited {
  color: var(--visited-color);
}
body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

body {
  font-family: sans-serif;
}
main {
  max-width: 60ch;
  text-align: justify;
  hyphens: auto;
  white-space: normal;
  overflow: clip;
}
code {
  max-width: 100%;
  overflow: scroll;
}
details > summary:before {
  color: var(--visited-color);
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  content: 'Collapse △';
  position: absolute;
  right: 0;
  top: 0;
}
details[open] > summary:after {
  color: var(--visited-color);
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  content: 'Collapse △';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
details {
  position: relative;
  > code {
    margin: 0;
  }
  > code > pre {
    margin: 0;
  }
}
details:not(details[open]) > summary:before {
  color: var(--link-color);
  content: 'Expand ▽';
  /* background: linear-gradient(0deg, #ffffff9c, #ffffff00 50%); */
}
summary::marker {
  content: ""
}
summary::-webkit-details-marker {
  content: ""
}
summary {
  > code {
    margin: 0;
  }
  > code > pre {
    margin: 0;
  }
}

code.language-bash, code.language-zsh, code.language-sh {
  .highlight-1 {
    font-style: italic;
  }
  .highlight-10 {
    color: var(--warm-1);
  }
  .highlight-14 {
    color: var(--warm-2);
  }
  .highlight-15 {
    color: var(--warm-3);
  }
  .highlight-5 {
    background: var(--background-1);
  }
  .highlight-7 {
    color: var(--warm-4);
  }
}
@media (orientation: landscape) {
  main {
    overflow: visible;
  }
  code {
    max-width: initial;
    overflow: visible;
  }
}
kbd:not(samp > kbd) {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
ul {
  padding-inline-start: 16px;
  list-style-type: square;
}
ul li {
  margin-block: 10px;
}
