body {
  font-family: sans-serif;
}
main {
  max-width: 60ch;
  text-align: justify;
  hyphens: auto;
  white-space: normal;
}

code {
  .comment {
    font-style: italic;
  }
  .variable {
    color: #0086b3;
  }
  .keyword {
    color: #a71d5d;
  }
}
