:root {
  --foreground-color: black;
  --background-color: white;
  --background-darkened: #ddd;
  --foreground-lightened: #222;
}
body {
  font-family: sans-serif;
}
main {
  max-width: 60ch;
  text-align: justify;
  hyphens: auto;
  white-space: normal;
}
summary {
  cursor: pointer;
  border: var(--foreground-color) 1px solid;
  padding-left: 5px;
}
summary:hover {
  background: var(--background-darkened);
}
code {
  .comment {
    font-style: italic;
  }
  .variable {
    color: #0086b3;
  }
  .keyword {
    color: #a71d5d;
  }
}
